<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- DEBUG builds only: arms the review alarm a few seconds ahead, to see the notification without waiting for 07:00.
             adb shell am broadcast with extras seconds (int) and due (int), see DebugReviewReceiver.kt -->
        <receiver android:name=".notify.DebugReviewReceiver" android:exported="true" />
    </application>
</manifest>
